<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Car_registration_admin_panel.Properties.Settings.state_vehicle_inspection_dbConnectionString"
            connectionString="Data Source=LAPTOPSADIK;Initial Catalog=state_vehicle_inspection_db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>